/* google calendar */

.cal_wrapper {
  max-width: 800px; /* 最大幅 */
  width: 90%; /* 最小幅 */
  margin: 2.0833% auto;
}
 
.googlecal {
  position: relative;
  padding-bottom: 100%; /* 縦横比 */
  height: 0;
  overflow: hidden;
}
.googlecal iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
 
@media only screen and (min-width: 600px) {
  /* 画面幅が600px以上の場合の縦横比の指定 */
  .googlecal {
    padding-bottom: 75%;
  }
}

/*Hero header  */

.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("/u30-f.github.io/image/top1.jpg") center center no-repeat;
  background-size: cover;
}

.hero-full-screen .middle-content-section {
  text-align: center;
  color: #fefefe;
  margin: auto;
}

.hero-full-screen .top-content-section {
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen .top-bar {
  background: transparent;
}

.hero-full-screen .top-bar .menu {
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  color: #fefefe;
}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}




/*  background: url("/u30-f.github.io/image/top1.jpg") center center no-repeat;
  background-size: cover;
}

*/

/* topbar mobile */

.topbar-responsive {
  background: #2c3840;
  padding: 1rem 1.5rem;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: #2c3840;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
}

.topbar-responsive .menu a:hover {
  color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #fefefe;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}

/* sticky*/

@media screen and (max-width: 39.9375em) {
  .no-js .top-bar {
    display: none;
  }
}

@media print, screen and (min-width: 40em) {
  .no-js .title-bar {
    display: none;
  }
}

[data-sticky] {
  width: 100%;
}

.sticky-container {
  z-index: 5;
}

#about{
 color: #2c3840;
}

#member{
 color: #2c3840;
}

#news{
 color: #2c3840;
}

#event{
 color: #2c3840;
}

#contact{
 color: #2c3840;
}

/*card*/

.card-user-container {
  margin-bottom: 1rem;
  background-color: #fefefe;
  color: #0a0a0a;
  overflow: hidden;
  padding: 0;
  border-radius: 0;
}

.card-user-container .card-user-avatar .user-image {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 11.875rem;
  height: 11.875rem;
  padding: 0.9375rem;
}

.card-user-container .card-user-avatar .user-image:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card-user-container .card-user-bio {
  padding: 1rem;
  text-align: center;
}

.card-user-container .card-user-bio .location {
  display: inline-block;
  margin: 0 0.9375rem;
  color: #767676;
  font-size: 0.875rem;
}

.card-user-container .card-user-bio .location-icon,
.card-user-container .card-user-bio .location-text {
  display: inline-block;
  padding: 0 0.3125rem;
}

.card-user-container .card-user-social {
  background: #e6e6e6;
  padding: 1rem;
  text-align: center;
}

.card-user-container .card-user-social ul {
  display: inline-block;
}

.card-user-container .card-user-social ul li {
  margin: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}

.card-user-container .card-user-social ul li:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.card-user-container .card-user-button {
  text-align: center;
  padding: 1rem;
}

/*card end*/

/* google form*/

.iframe-wrapper {
position: relative;
max-width: 760px;
width: 90%;
padding-top: 90%;
margin: auto;
margin-bottom: -20%;
overflow: hidden;
}
.iframe-wrapper iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 85%;
margin-top: -15%;
}

/*a news */

.news-card-tag {
  margin-bottom: 0.5rem;
}

.news-card-tag .label {
  border-radius: 0.125rem;
  background-color: #1779ba;
  color: #fefefe;
}

.news-card-tag .label a {
  background-color: inherit;
  color: inherit;
}

.news-card-tag .label:hover, .news-card-tag .label:focus {
  background-color: #14679e;
}

.news-card-tag .label:hover a, .news-card-tag .label:focus a {
  background-color: inherit;
  color: inherit;
}

.news-card {
  background-color: #fefefe;
  font-weight: 400;
  margin-bottom: 1.6rem;
  border-radius: 0.125rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.news-card .card-section {
  background-color: inherit;
}

.news-card .card-section .news-card-date {
  font-size: 1em;
  color: #8a8a8a;
}

.news-card .card-section .news-card-article {
  background-color: inherit;
}

.news-card .card-section .news-card-article .news-card-title {
  line-height: 1.3;
  font-weight: bold;
}

.news-card .card-section .news-card-article .news-card-title a {
  text-decoration: none;
  color: #8a8a8a;
  transition: color 0.5s ease;
}

.news-card .card-section .news-card-article .news-card-title a:hover {
  color: #1779ba;
}

.news-card .card-section .news-card-article .news-card-description {
  color: #8a8a8a;
}

.news-card .card-section .news-card-author {
  overflow: hidden;
  padding-bottom: 1.6rem;
}

.news-card .card-section .news-card-author .news-card-author-image {
  display: inline-block;
  vertical-align: middle;
}

.news-card .card-section .news-card-author .news-card-author-image img {
  border-radius: 50%;
  margin-right: 0.6em;
    width: 2.5rem;
    height: 2.5rem;
}

.news-card .card-section .news-card-author .news-card-author-name {
  display: inline-block;
  vertical-align: middle;
}

/*a news */

/* news topic */

.simple-article-header {
  background: #fefefe;
  padding: 1.3rem 2rem .7rem;
  border: 1px solid #cacaca;
  margin: 1rem auto;
  max-width: 700px;
}

.simple-article-header .article-date-read {
  color: #8a8a8a;
}

.simple-article-header .article-title {
  text-transform: uppercase;
}

.simple-article-header .article-title a {
  color: #0a0a0a;
}

.simple-article-header .article-title a:hover, .simple-article-header .article-title a:focus {
  color: #1779ba;
}

.simple-article-header .article-author-comments a.article-comments {
  color: #8a8a8a;
}

.simple-article-header .article-author-comments a.article-comments:hover, .simple-article-header .article-author-comments a.article-comments:focus {
  color: #1779ba;
}

.simple-article-header .article-date-read,
.simple-article-header .article-title,
.simple-article-header .article-author-comments,
.simple-article-header .article-social,
.simple-article-header .article-post-image,
.simple-article-header .article-post-content {
  margin-bottom: 0.25rem;
}

.simple-article-header .article-social {
  margin-top: 0.75rem;
}

.simple-article-header .article-social .social {
  margin-right: 0.25rem;
}

.simple-article-header .article-social .social.facebook {
  background-color: #3b5998;
  color: #fefefe;
}

.simple-article-header .article-social .social.facebook:hover, .simple-article-header .article-social .social.facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}

.simple-article-header .article-social .social.twitter {
  background-color: #55acee;
  color: #fefefe;
}

.simple-article-header .article-social .social.twitter:hover, .simple-article-header .article-social .social.twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
}

.simple-article-header .article-social .social.linkedin {
  background-color: #007bb5;
  color: #fefefe;
}

.simple-article-header .article-social .social.linkedin:hover, .simple-article-header .article-social .social.linkedin:focus {
  background-color: #006291;
  color: #fefefe;
}

.simple-article-header .article-social .social.google-plus {
  background-color: #dd4b39;
  color: #fefefe;
}

.simple-article-header .article-social .social.google-plus:hover, .simple-article-header .article-social .social.google-plus:focus {
  background-color: #be3221;
  color: #fefefe;
}

.simple-article-header .article-social .social > .fa {
  color: #fefefe;
}

.simple-article-header .article-social .social > .fa.fa-comments-o {
  margin-right: 0.25rem;
}

/* news topic */

.fi-social-facebook{
 font-size: 48px;
 color: #3b5998;
}